@model int;

@* @if (Model > 0)
{
  <li class="header__item">
    <a class="text-light" asp-controller="Orders" asp-action="ShoppingCart">
      <i class="fa-solid fa-cart-shopping text-light"></i>
      <span>@Model</span>
    </a>
  </li>
} *@

<li class="header__item">
  <a class="text-light" asp-controller="Orders" asp-action="ShoppingCart">
    <i class="fa-solid fa-cart-shopping text-light"></i>
    <span>@Model</span>
  </a>
</li>