@{
  Layout = "/Views/Shared/_Layout.cshtml";
}

<section class="auth">
  <div class="auth__right">
    <ul class="auth__list auth-list">
      <li class="auth-list__item">
        <a class="auth-list__link" asp-controller="Account" asp-action="Login">Sign In</a>
      </li>
      <li class="auth-list__item">
        <a class="auth-list__link" asp-controller="Account" asp-action="Register">Sign Up</a>
      </li>
    </ul>

    <div class="auth__content">
      @RenderBody()
    </div>
  </div>

  <div class="auth__left"></div>
</section>

@section Scripts{
  @RenderSection("Scripts", required: false)

  <script>
    const authListLinks = document.querySelectorAll(".auth-list__link");
    const current = location.pathname;

    console.log(authListLinks);
    console.log(current);

    authListLinks.forEach((link) => {
      if(current.indexOf(link.getAttribute("href")) !== -1) {
        link.parentNode.classList.toggle("auth-list__item--active");
      }
    })
  </script>
}
