@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
  <li class="header__item">
    <a class="header__link" data-bs-toggle="collapse" href="#collapse-user" role="button" aria-expanded="false" aria-controls="collapse-user">
      <i class="text-light fa-solid fa-user"></i>
    </a>
  </li> 
  <ul class="header__list--account collapse" id="collapse-user">
    <li class="header__item">
      <a class="header__link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
  </ul>
}
else 
{
  <li class="header__item">
    <a class="text-light" data-bs-toggle="collapse" href="#collapse-user" role="button" aria-expanded="false" aria-controls="collapse-user">
      <i class="text-light fa-solid fa-user"></i>
    </a>
  </li> 
  <ul class="header__list--account collapse" id="collapse-user">
    <li class="header__item">
      <a class="header__link username" asp-area="" asp-controller="Account" asp-action="Index">@UserManager.GetUserName(User)</a>
    </li>
    <li class="header__item">
      <a class="header__link" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
    </li>
    <li class="header__item">
      <form class="text-light" asp-controller="Account" asp-action="Logout">
        <button class="btn">Logout</button>
      </form>
    </li>
  </ul>
}