<div class="section center-caption">
  <h3 class="title">You are searching for a nonexistent item :(</h3>
  <img class="img" src="/img/UnknownBook.png" alt="Unknown Book">
  <a class="btn reversed" asp-controller="Books" asp-action="Index">
			<i class="fa-solid fa-left-long"></i>
			<span class="btn__text">Go Back to Home Page</span>
		</a>
</div>