@use "variables" as v;
@use "mixins" as m;

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px;
}

textarea {
	white-space: pre-wrap;
}

.section {
	background-color: v.$light-grey;
	padding: 1em;

	&__title {
		text-align: center;
		margin-bottom: 1rem;
	}
}

.gallery {
	display: grid;
	// align-content: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 1em;

	&__title {
		grid-column: 1/-1;
		justify-self: center;
	}

	&__book {
		position: relative;
	}
}

.book {
	background-color: v.$white;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// align-items: center;

	&__cover {
		align-self: center;
		width: 274px;
		height: 424px;
	}

	&__info {
		max-height: 10em;
		display: flex;
		flex-direction: column;
		margin: 1em 0;
	}

	&__title {
		text-align: center;
	}

	&__author {
		align-self: center;
		// justify-self: bottom;
	}
}

.form,
.action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.action {
	align-items: center;
}

.form {
	position: relative;
	width: 100%;

	padding: 1em;
	border: 2px solid v.$black;

	&__item {
		display: flex;
		flex-direction: column;

		&--img {
			display: none;
			padding: 1em;
			margin: 1em;
			background-color: v.$white;
			max-width: 300px;
			max-height: 300px;
			align-self: center;
		}
	}

	&__buttons {
		margin: 1em 0 0 0;

		&:before {
			content: "";
			background-color: v.$black;
			position: absolute;
			bottom: 6em;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
		}
	}
}

.section__buttons,
.form__buttons {
	// margin-top: 1em;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.item {
	&__text {
		font-size: 1.5em;

		&:first-child {
			margin-left: 1em;
		}
	}

	&__warning-msg {
		color: v.$red;
	}
}

.info {
	display: flex;
	margin-bottom: 1em;

	p {
		white-space: pre-wrap;
	}

	&__img--png,
	&__img {
		width: 400px;
		height: 600px;
		margin-right: 1em;
		object-fit: cover;
	}

	&__img--png {
		object-fit: contain;
    object-position: center 2em;
	}

	&__container {
		background-color: v.$white;
		width: 100%;
		padding: 2em;
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	&__text {
		padding: 0.5em 0.5em 0.5em 0;
		border-bottom: 1px solid black;

		&-value {
			color: v.$blue;
		}
	}

	&__box {
		width: 100%;

		label {
			width: 20%;
		}

		input {
			padding: 0.5em;
		}
	}
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	position: relative;
	height: 330px;

	&:hover {
		background-color: v.$very-light-blue;

		.box {
			&__img,
			&__photo {
				height: 300px;
				width: 300px;
			}

			&__name {
				visibility: hidden;
			}
		}
	}

	&__photo {
		margin: 0.5em;
		height: 250px;
		width: 250px;
		object-fit: cover;
		border-radius: 50%;
	}

	&__img {
		margin: 0.5em;
		height: 250px;
		width: 250px;
		object-fit: contain;
	}

	&__name {
		font-size: 0.8em;
		color: v.$black;
	}
}

.books-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.table {
	background-color: v.$white;

	&__tbody {
		td {
			font-size: 1.5em;
		}

		img {
			margin-right: 0;
			width: 200px;
			height: 300px;
		}
	}

	&__buttons {
		width: 60px;

		a {
			font-size: 1em;
		}

		i {
			margin-left: 0;
		}
	}

	&__tfoot {
		font-size: 1.5em;

		a {
			font-size: 1em;
		}
	}
}

.auth {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	border: 1em solid v.$light-grey;
	border-radius: 2em;
	// outline: 0.1em solid v.$grey(47, 47, 57);

	&__right {
		width: 50%;

		@include m.respond-to("md") {
			width: 100%;
		}
	}

	&__left {
		width: 50%;
		padding-left: 1em;
		background: url("../img/bg/auth-bg-4.png") v.$light-grey no-repeat center center;
		background-size: contain;

		@include m.respond-to("md") {
			display: none;
		}
	}

	&__content .form {
		border: none;
		// padding: 1em;
	}
}

.auth-list {
  list-style: none;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // border-bottom: 1em solid v.$background;
  // padding: 1em;

  &__item {
    width: 100%;
    height: 5em;
    border-bottom: 1em solid v.$light-grey;
    @include m.transition(all 0.3s ease-in-out);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    &:first-child {
      border-right: 0.5em solid v.$light-grey;
      border-radius: 1em 0 0 0;
    }

    &:last-child {
      border-left: 0.5em solid v.$light-grey;
    }

    &--active {
      border-bottom-color: v.$white;
    }

    &:hover {
      background-color: v.$black;
      color: v.$white;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }
  }
}

.cart-item {
	margin-left: auto;
}

.filter {
	grid-column: 1/-1;
	background-color: v.$white;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 1em;
	padding: 1em;

	&__title {
		flex-grow: 1;
	}
}