@use "variables" as v;
@use "mixins" as m;

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px;
}

textarea {
	white-space: pre-wrap;
}

.fixed-btn,
.btn {
	cursor: pointer;
	color: v.$black;
	background-color: v.$white;
	font-size: 1.5em;
	font-weight: 900;
	padding: 0.5em;
	border: 2px solid v.$black;
	border-radius: 0.5em;
	display: flex;
	justify-content: space-between;
	@include m.transition(all 0.3s ease-in-out);

	&__text {
		& {
			margin-left: 0.5em;
		}
	}

	i {
		margin-left: 0.5em;
	}

	&:hover {
		background-color: v.$black;
		color: v.$white;

		.text-red {
			@include m.text-outline(v.$light-grey);
		}

		i {
			color: v.$white;
		}
	}
}

.fixed-btn {
	position: fixed;
	background-color: v.$light-blue;
	right: 2em;
	bottom: 3em;
	padding: 1em;

	& + & {
		margin-bottom: 4em;
		background-color: v.$light-red;

		&:hover {
			background-color: v.$black;
		}
	}
}

.act-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 4.2em;
	height: 4.2em;
	border: none;
	background-color: v.$white;
	@include m.transition(all 0.3s ease-in-out);

	&:hover {
		background-color: v.$black;
		color: v.$white;

		i {
			color: v.$white;
		}
	}

	i {
		position: absolute;
		top: 1em;
		right: 1em;
	}
}

.act-list {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	flex-direction: column;
	width: 79%;
}

.act-item {
	padding: 0.65em;
	border: none;
	border-radius: 0;
	display: flex;
	justify-content: center;
}

.active {
	background-color: v.$black;
	border-left: 1px solid v.$white;

	i {
		color: v.$white;
	}
}

.reversed {
	i {
		margin: 0 0.5em 0 0;
	}
}

.text-red {
	color: v.$red;
	@include m.transition(all 0.3s ease-in-out);
}

.section {
	background-color: v.$light-grey;
	padding: 1em;

	&__title {
		text-align: center;
		margin-bottom: 1rem;
	}
}

.gallery {
	display: grid;
	// align-content: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 1em;

	&__title {
		grid-column: 1/-1;
		justify-self: center;
	}

	&__book {
		position: relative;
	}
}

.book {
	background-color: v.$white;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// align-items: center;

	&__cover {
		align-self: center;
		width: 274px;
		height: 424px;
	}

	&__info {
		max-height: 10em;
		display: flex;
		flex-direction: column;
		margin: 1em 0;
	}

	&__title {
		text-align: center;
	}

	&__author {
		align-self: center;
		// justify-self: bottom;
	}
}

.form,
.action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.action {
	align-items: center;
}

.form {
	position: relative;
	width: 100%;

	padding: 1em;
	border: 2px solid v.$black;

	&__item {
		display: flex;
		flex-direction: column;

		&--img {
			display: none;
			padding: 1em;
			margin: 1em;
			background-color: v.$white;
			max-width: 300px;
			max-height: 300px;
			align-self: center;
		}
	}

	&__buttons {
		margin: 1em 0 0 0;

		&:before {
			content: "";
			background-color: v.$black;
			position: absolute;
			bottom: 6em;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
		}
	}
}

.section__buttons,
.form__buttons {
	// margin-top: 1em;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.item {
	&__text {
		font-size: 1.5em;

		&:first-child {
			margin-left: 1em;
		}
	}

	&__warning-msg {
		color: v.$red;
	}
}

.info {
	display: flex;
	margin-bottom: 1em;

	p {
		white-space: pre-wrap;
	}

	&__img {
		width: 400px;
		height: 600px;
		margin-right: 1em;
	}

	&__container {
		background-color: v.$white;
		width: 100%;
		padding: 2em;
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	&__text {
		padding: 0.5em 0.5em 0.5em 0;
		border-bottom: 1px solid black;

		&-value {
			color: v.$blue;
		}
	}

	&__box {
		width: 100%;

		label {
			width: 20%;
		}

		input {
			padding: 0.5em;
		}
	}
}

.center-caption {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img {
	width: 500px;
	height: 500px;
	object-fit: contain;
}

.author {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	position: relative;
	height: 330px;

	&:hover {
		background-color: v.$very-light-blue;

		.author {
			&__photo {
				height: 300px;
				width: 300px;
			}

			&__name {
				visibility: hidden;
			}
		}
	}

	&__photo {
		margin: 0.5em;
		height: 250px;
		width: 250px;
		object-fit: cover;
		border-radius: 50%;
	}

	&__name {
		font-size: 0.8em;
		color: v.$black;
	}
}

.img-container {
	position: relative;
	display: inline-block;

	&:hover {
		img {
			filter: brightness(50%);
		}

		.img-text {
			visibility: visible;
		}
	}
}

.img-text {
	padding: 0.2em;
	align-self: center;
	text-align: center;
	position: absolute;
	margin: 0;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	visibility: hidden;
	color: white;
}

.books-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.table {
	background-color: v.$white;

	&__tbody {
		td {
			font-size: 1.5em;
		}

		img {
			margin-right: 0;
			width: 200px;
			height: 300px;
		}
	}

	&__buttons {
		width: 60px;

		a {
			font-size: 1em;
		}

		i {
			margin-left: 0;
		}
	}

	&__tfoot {
		font-size: 1.5em;

		a {
			font-size: 1em;
		}
	}
}

.auth {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	border: 1em solid v.$light-grey;
	border-radius: 2em;
	// outline: 0.1em solid v.$grey(47, 47, 57);

	&__right {
		width: 50%;

		@include m.respond-to("md") {
			width: 100%;
		}
	}

	&__left {
		width: 50%;
		padding-left: 1em;
		background: url("../img/bg/auth-bg-4.png") v.$light-grey no-repeat center center;
		background-size: contain;

		@include m.respond-to("md") {
			display: none;
		}
	}

	&__content .form {
		border: none;
		// padding: 1em;
	}
}

.auth-list {
  list-style: none;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // border-bottom: 1em solid v.$background;
  // padding: 1em;

  &__item {
    width: 100%;
    height: 5em;
    border-bottom: 1em solid v.$light-grey;
    @include m.transition(all 0.3s ease-in-out);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    &:first-child {
      border-right: 0.5em solid v.$light-grey;
      border-radius: 1em 0 0 0;
    }

    &:last-child {
      border-left: 0.5em solid v.$light-grey;
    }

    &--active {
      border-bottom-color: v.$white;
    }

    &:hover {
      background-color: v.$black;
      color: v.$white;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }
  }
}

