@use "variables" as v;
@use "mixins" as m;

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li {
	margin: 0;
}

html {
	font-family: v.$lato;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: 2em;

	&:visited {
		color: inherit;
	}

	&:hover {
		color: inherit;
	}
}

i {
	color: v.$black;
	font-size: 1.5em;
	pointer-events: none;

	@include m.transition(all 0.3s ease-in-out);
}

img {
	object-fit: cover;
	object-position: center center;
}

select {
	height: 42px;
	padding-right: 0.5em;
}

.list {
	list-style: none;
}

.validation-summary-errors {
	margin-left: 1em;
}