@model NewBookVM

@{
    ViewData["Title"] = "Edit information about Book";
}


<div class="section action">
    
	<h1>@ViewData["Title"]</h1>
    
 	<form class="form" asp-action="Edit">
	  <div asp-validation-summary="ModelOnly"></div>

		<div class="form__item">
	    <label class="item__text" asp-for="ImageURL"></label>
	    <img class="form__item--img" id="ImagePreview" />
	    <input class="item__text" asp-for="ImageURL" />
   		<span class="item__warning-msg" asp-validation-for="ImageURL"></span>
		</div>
		
    <div class="form__item">
	    <label class="item__text" asp-for="Title"></label>
	    <input class="item__text" asp-for="Title" />
   		<span class="item__warning-msg" asp-validation-for="Title"></span>
		</div>

   <div class="form__item">
	    <label class="item__text" asp-for="Pages"></label>
	    <input class="item__text" asp-for="Pages" />
   		<span class="item__warning-msg" asp-validation-for="Pages"></span>
		</div>

		<div class="form__item">
	    <label class="item__text" asp-for="Price"></label>
	    <input class="item__text" asp-for="Price" />
   		<span class="item__warning-msg" asp-validation-for="Price"></span>
		</div>

		<div class="form__item">
	    <label class="item__text" asp-for="Quantity"></label>
	    <input class="item__text" asp-for="Quantity" />
   		<span class="item__warning-msg" asp-validation-for="Quantity"></span>
		</div>

		<div class="form__item">
	    <label class="item__text" asp-for="Genre"></label>
	    <input class="item__text" asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>()"/>
   		<span class="item__warning-msg" asp-validation-for="Genre"></span>
		</div>

		<div class="form__item">
	    <label class="item__text" asp-for="AuthorId"></label>
	    <select class="item__text" asp-for="AuthorId" asp-items="ViewBag.Authors"></select>
   		<span class="item__warning-msg" asp-validation-for="AuthorId"></span>
		</div>

		<div class="form__item">
	    <label class="item__text" asp-for="PublisherId"></label>
	    <select class="item__text" asp-for="PublisherId" asp-items="ViewBag.Publishers"></select>
   		<span class="item__warning-msg" asp-validation-for="PublisherId"></span>
		</div>

		<div class="form__buttons">
	    <a class="btn reversed" asp-action="Index">
				<i class="fa-solid fa-left-long"></i>
				<span class="btn__text">Show All</span>
			</a>
	    <button class="btn" type="submit">
				 <span class="btn__text">Update</span>
  				<i class="fa-solid fa-plus"></i>
			</button>

			@* <input class="btn reversed" type="submit" value="Create" /> *@

		</div>
  </form>
    
</div>


@section Scripts{ 
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImagePreview');
            output.src = $("#ImageURL").val();
						output.style.display = "block";
        })
        $("#ImageURL").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
						output.style.display = "block";
        })
    </script>
}