@model RegisterVM
@using bookstore_mvc.Data.ViewModels;

@{
    ViewData["Title"] = "Register to BookStore";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@* <form asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
 <form class="form" id="account" method="post" asp-action="Register">
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="text-danger">
    @if(TempData["Error"] != null)
    {
      <ul class="validation-summary-errors">
        <li>@TempData["Error"]</li>
      </ul>
    }
  </div>
  <div class="form__item">
    <label class="item__text" asp-for="FullName"></label>
    <input class="item__text" asp-for="FullName" />
    <span class="item__warning-msg" asp-validation-for="FullName" class="text-danger"></span>
  </div>
  <div class="form__item">
    <label class="item__text" asp-for="Email"></label>
    <input class="item__text" asp-for="Email" />
    <span class="item__warning-msg" asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="form__item">
    <label class="item__text" asp-for="Password"></label>
    <input class="item__text" asp-for="Password" />
    <span class="item__warning-msg" asp-validation-for="Password" class="text-danger"></span>
  </div>
  <div class="form__item">
    <label class="item__text" asp-for="ConfirmPassword"></label>
    <input class="item__text" asp-for="ConfirmPassword" />
    <span class="item__warning-msg" asp-validation-for="ConfirmPassword" class="text-danger"></span>
  </div>
  <div class="form__group">
    <button type="submit" class="btn">Register</button>
  </div>
</form>