<div class="section center-caption">
  <h3 class="title">Your Account was created Successfully!</h3>
  <a class="btn reversed" asp-controller="Books" asp-action="Index">
		<i class="fa-solid fa-left-long"></i>
		<span class="btn__text">Go Back to Home Page</span>
	</a>
</div>