@model IEnumerable<Publisher>
 @using bookstore_mvc.Data;

@{
    ViewData["Title"] = "List of Publishers";
}

<div class="section gallery">
  <h1 class="gallery__title section-title">@ViewData["Title"]</h1>

  @foreach(var item in Model) 
  {
    <a class="box" asp-action="Info" asp-route-id="@item.Id">
      <img class="box__img" src="@item.ImageURL" alt="photo">
      <span class="box__name">@item.Name</span>
    </a>
  }

</div>

@await Html.PartialAsync("_AddNewItem", "Publishers")